<nav class="navigation">
  <section class="container">

    <a class="navigation-title" href="/">
      <img src='/images/icon/logo.jpg' class='logo' alt='logo' />
      <h1 class="title">Plataforma 5 - Devs</h1>
    </a>
    <div class='navigation-list pull-right'>
      
      <a class="navigation-link" href="/aboutus" id='about'><i class="fa fa-users" aria-hidden="true"></i></a>
      
      <a class="button sumate" href="#"><i class="fa fa-hashtag" aria-hidden="true"></i>Sumate</a>
    </div>
  </section>
</nav>
