<div id="triangles">
	<canvas id="output">
	</canvas>
</div>

<div class='container' id='landing'>
	<!-- <div class="row"> -->
		
        <div class="fit  row">

        	<div class="row parent stat">
        	<div class="portada row">
            	<h2>Bringing <strong class=''>ideas</strong> to <span class='life'>life</span></h2>
            	<h2>one line of code at a time.</h2>
    		</div>		
			    <div class="col-sm-4 ">
			    	<div>
				    	<img src='/images/icon/slack.png' class='icon' alt='icon' />
				    	<h3>Comunicáte!</h3>
				    	<p>Sumáte al canal de <strong>Slack!</strong><br>
				    	Y mantenéte siempre actualizado.</p>
			    	</div>
			    </div>
			    <div class="col-sm-4">
			    	<div>
				    	<img src='/images/icon/beer.png' class='icon' alt='icon'/>
				    	<h3>Divertíte!</h3>
				    	<p>Conocé gente de tu palo y pasála bien compartiendo una cerveza mientras charlás de Data Science.</p>
			    	</div>
			    </div>
			    <div class="col-sm-4">
			    	<div>
				    	<img src='/images/icon/poll.png' class='icon' alt='icon'/>
				    	<h3>Compartí!</h3>
				    	<p>Participá de la <a href='http://goo.gl/forms/ospSIZ4OBJhniLfp1' id='encuesta' target='_blank'><strong>encuesta</strong></a> de sueldos de Data Scientists.<br>
				    	Sumá tu dataset para que lo analicemos entre todos!</p>
			    	</div>
			    </div>
			</div>
		</div>
  	<!-- </div> -->
</div>


<script src="/javascripts/TweenLite.min.js"></script>
<script src="/javascripts/EasePack.min.js"></script>
<script src="/javascripts/rAF.js"></script>
<script src='/javascripts/back.js' ></script>
<script>
var fondo = false;
if (screen && screen.width > 768) {

}

$(window).resize( function(){
  
  if (screen && screen.width > 768 && !fondo) {
   	
   }
});


  // Run code



</script>
